.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 1rem;
  }
.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .grid-box .item {
    background: #dbeafe;
    padding: 1rem;
    text-align: center;
    border: 1px solid #60a5fa;
  }